@font-face {
  font-family: "Exo2";
  src: url('../fonts/exo2.ttf');
}

body {
    background-color:#003366;
    color: #fff;
    font-family: 'Exo2', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#particles-js {
	height: 100vh;
	width: 100%;
    position: fixed;
    z-index: -1;
}

.login-box{
  margin:0;
  margin-top: 0px;
  padding:100px 20px 10px 20px;
  background-color: rgba(30, 30, 30, .55);
  /* background-color: rgba(39, 54, 85, .55); */
  backdrop-filter: blur(3px);
  height:98vh;
}
.login-form-box{

}
